# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Environment & secrets
.env

# Flask / SQLite
instance/
*.db
*.sqlite3

# Flask-Migrate (keep migrations/ folder but ignore compiled files)
migrations/__pycache__/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

adminpassword.txt